<h1><%= @user.name %></h1>


<% if @user.songs.any? %>
  <h4>Here are the songs for this user:</h4>

  <ul>
    <% @user.songs.each do |song| %>
    <li>
      <%= song.title %> -
      <%= link_to "Edit", edit_user_song_path(@user, song) %> -
      <%= link_to "Delete", user_song_path(@user, song),
                      :data => {:confirm => "Are you sure?",
                                  :method =>"delete"} %>
    </li>
    <% end %>
  </ul>

<% else %>
  <p>There are no songs yet!</p>
<% end %>

<p><%= link_to "Add a song", new_user_song_path(@user) %></p>

<p><%= link_to "Edit User", edit_user_path(@user) %></p>

<p><%= link_to "Delete User", user_path(@user),
        :data => {:confirm => "You sure?",
                  :method => "delete"} %></p>

<p><%= link_to "return to users", users_path %></p>
