<%= render('layouts/errors', :object => @song) %>

<%= form_for [@user, @song] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :artist %>
  <%= f.text_field :artist %>
  <!-- <%= f.collection_select :title, Song.all, :title, :name_with_artist %> -->
  <p><%= f.submit %></p>
<% end %>
